<h2>Contact Form</h2>
<section>
  <form [formGroup]="contactForm" (ngSubmit)="submit()">
    <fieldset [formGroup]="basicForm">
      <div>
        <input type="text" formControlName="firstname" placeholder="Fisrtname">
        <app-form-error [control]="basicForm.controls.firstname"></app-form-error>
      </div>
      <div>
        <input type="text" formControlName="lastname" placeholder="Lastname">
        <app-form-error [control]="basicForm.controls.lastname"></app-form-error>
      </div>
      <div>
        <input type="email" formControlName="email" placeholder="Email">
        <app-form-error [control]="basicForm.controls.email"></app-form-error>
      </div>
      <div>
        <label for="meetingType">Meeting type : </label>
        <select id="meetingType" formControlName="meetingType">
          @for (p of MeetingType | keyvalue; track p.key) {
            <option [value]="p.key">{{ p.value }}</option>
          }
        </select>
        <app-form-error [control]="basicForm.controls.meetingType"></app-form-error>
      </div>
      <div>
        <textarea formControlName="description" cols="50" rows="10" placeholder="Description"></textarea>
        <app-form-error [control]="basicForm.controls.description"></app-form-error>
      </div>
      <label>Availabilities : </label>
      <button (click)="addAvailability()" type="button">➕</button>
      <div class="availabilities" formArrayName="availabilities">
        @for (availibility of availabilities.controls; track i; let i = $index) {
          <div>
            <input type="date" [formControlName]="i">
            @if (availabilities.length > 1) {
              <button (click)="removeAvailability(i)" type="button">➖</button>
            }
            <app-form-error [control]="availabilities.controls[i]"></app-form-error>
          </div>
        }
      </div>
      <div>
        <label for="atHome">At home ?</label>
        <input id="atHome" type="checkbox" formControlName="atHome" (change)="toggleAddressForm()">
      </div>
    </fieldset>
    @if (addressForm.enabled){
      <fieldset [formGroup]="addressForm">
        <div>
          <input type="text" formControlName="street" placeholder="Street">
          <app-form-error [control]="addressForm.controls.street"></app-form-error>
        </div>
        <div>
          <input type="text" formControlName="city" placeholder="City">
          <app-form-error [control]="addressForm.controls.city"></app-form-error>
        </div>
        <div>
          <input type="text" formControlName="zipCode" placeholder="Zip code">
          <app-form-error [control]="addressForm.controls.zipCode"></app-form-error>
        </div>
      </fieldset>
    }
    <button type="submit">Submit</button>
  </form>
</section>
